:root{
    --primary: #FCD535;
    --primary-dark: #CEAF30;
    --secondary: #1D1D1D;
    --text: #ffffff;
    --text-dark: #1D1D1D;
    --text-gray: #D7D7D7;
    --white: #FFFFFF;
    --bg: #181A20;
    --qr-bg: #1E2329;
    --qr-bg-hover: #2B3139;
    --link-bg: #171717;
    --link-border: #202020;
    --border: #2B3139;
    --error: #FF4D4D;
    --link-color: #B7BDC6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background: var(--primary);
    color: var(--text-dark);
}

body{
    font-size: 16px;
    font-family: Work, sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--bg);
}

.socials-row{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials-row img{
    width: 3.5rem;
    height: 3.5rem;
}

.socials-row>a{
    padding: 0.75rem;
    padding-left: 1.25rem;
    width: 100%;
    min-height: 3.5rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white);
    border: 1.5px solid var(--border);
    background: transparent;
    border-radius: 0.75rem;
    transition: all .3s ease;
    font-weight: 700;
}

.login-welcome-row{
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.login-welcome-title{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    margin: 0 auto;
    width: 13.5rem;
}

.lines{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    align-items: center;
}

.line{
    height: 1px;
    flex: 1;
    background: var(--border);
}

.text-field{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.text-field input{
    color: var(--text);
    max-width: 100%;
    width: 100%;
    border: 1.5px solid var(--border);
    margin-top: 0.5rem;
    min-height: 3.25rem;
    font-size: 1rem;
    letter-spacing: .03rem;
    outline: none;
    background: var(--qr-bg);
    transition: .25s;
    border-radius: 0.75rem;
    text-indent: 1.25rem;
}

.text-field label{
    color: var(--text);
}

.text-field input:focus{
    border: 1.5px solid var(--primary);
}

.wrapper{
    margin-top: 8rem;
}

.my-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1;
    border: 1px solid var(--border);
    width: 100%;
    max-width: 32rem;
    padding: 2.5rem 2rem;
    padding-top: 0;
    padding-bottom: 5rem;
    border-radius: 2rem;
    height: fit-content;
}

.my-form__button{
    background: var(--primary);
    color: var(--secondary);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3rem;
    outline: none;
    font-size: 1.25rem;
    letter-spacing: .025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.75rem;
    transition: background .3s ease;
}

.my-form__button:hover{
    background: var(--primary-dark);
}

.my-form__actions{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}

.my-form__actions a{
    color: var(--primary);
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color .3s ease;
}

.my-form__actions a:hover{
    text-decoration: none;
    color: var(--primary-dark);
}

.my-form__row{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.bottom-links{
    display: flex;
    gap: 1rem;
    margin-top: auto;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    justify-content: center;
    list-style: none;
}

.bottom-links a{
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
    transition: color .3s ease;
}

.bottom-links a:hover{
    color: var(--primary);
}

.bia{
    color: rgb(164, 22, 235);
    margin-top: 100px;
    font-size: 50px;
}

.biaa{
    color: #f507ed;
}