 /* Definindo as cores principais */
 :root {
    --primary-color: #4CAF50;
    --secondary-color: #2196F3;
    --background-color: #f4f4f4;
    --card-background: #ffffff;
    --button-hover-color: #45a049;
    --text-color: #333333;
    --border-radius: 8px;
    --font-family: 'Arial', sans-serif;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    background-color: var(--card-background);
    padding: 40px 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--text-color);
}

input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type="number"]:focus,
select:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

.result {
    margin-top: 30px;
    font-size: 18px;
    color: var(--text-color);
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

.result span {
    font-weight: normal;
    color: #666;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}